.App-grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #333;
}

.App-grid {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 7px;
}

.App-cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(255,255,255,.2);
  transition: all .5s ease;
}

.alive {
  background-image: linear-gradient(30deg, #2342a1, #6f90f3);
  border: 1px solid royalblue;
}

.dead {
  background-color: transparent;
}