* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-grid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  /* width: 80vw; */
  padding: 100px;
  color: azure;
  background-color: #333;
  background: url('./images/electricity.jpg'), rgba(0,0,0,.8);
  background-blend-mode: overlay;
  background-position: top left;
}

.App-grid {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 7px;
}

.App-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.App-control-board {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.circle-picker {
  align-self: flex-end;
}
.circle-picker div {
  width: 25px !important;
  height: 25px !important;
}

.App-customize {
  animation: scaleIn .2s ease;
}

.App-cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 10%;
  transition: all .5s ease;
}

.alive {
  border: 1px solid transparent;
  border-radius: 50%;
  transform: scale(1.05);
}

.dead {
  background-color: transparent;
}


button, select {
  margin: 10px;
  min-width: 50px;
  color: #333;
  background-color: azure;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}